<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Coloca aquí tus etiquetas <meta>, <title>, hojas de estilo y scripts si es necesario -->
</head>
<body>
    <!-- Coloca aquí la estructura de la página, como el encabezado, barra de navegación, etc. -->
    
    <!-- Ejemplo de uso de Thymeleaf: -->
    <h1>Felicidades, Bienvenido a DespensApp! - INDEX</h1>
    <p th:text="${message}"></p>
    
    <!-- Coloca aquí el contenido específico de la página -->
    
    <!-- Coloca aquí el pie de página y otros elementos de la estructura de la página -->
</body>
</html>